<!DOCTYPE html>
<html>
<head>
    <title>Keplr Extension Check</title>
</head>
<body>
    <h1>Keplr Extension Check</h1>
    <p>This page checks whether the Keplr extension is installed in your browser.</p>


    <script>
        window.onload = async () => {
    if (!window.keplr) {
        alert("Please install owallet extension");
    } else {
        const chainId = "Oraichain-testnet";
        const contractAddress = "orai1mw36z7jewael538x5vw7lku39ly7w44t5nzf26qxrhmtq2g90klq3yzc2r";
        await window.keplr.enable(chainId);
        await window.keplr.suggestToken(chainId,contractAddress);
    }
}
    </script>
</body>
</html>
